<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jakewilson.BusCatcher"
    android:versionCode="4"
    android:versionName="1.1.1" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:name=".BusCatcherActivity" >
            <intent-filter >
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".SettingsActivity" >
            <intent-filter >
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".HomeActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:name=".AboutActivity" >
            <intent-filter >
            </intent-filter>
        </activity>
        <activity
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:name=".FavoritesActivity" >
            <intent-filter >
            </intent-filter>
        </activity>
        <activity
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:name=".FavoriteMap" >
            <intent-filter >
            </intent-filter>
        </activity>

        <uses-library
            android:name="com.google.android.maps"
            android:required="true" >
        </uses-library>
    </application>


</manifest>